body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
#boss{
    width: 100%;
     position: fixed;
    top: 0;
    left: 0; 
     z-index: 99;
}
nav{
    background-color: #05386B;
    margin: 0 auto;
    width: 100%;
}
#checkbox-menu,.toggle{
    display: none;
}
.menu{
    padding: 0;
    margin: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu li a{
    color: white;
    text-decoration: none;
    align-self: center;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
     border-radius: 5px;
}
.menu li a:hover{
    background-color: white;
    color: black;
}
.menu li  a.logo{
    font-size: 35px;
    margin-right: 250px;
}
section{
    width: 100%;
    height: 100vh;
}
#home{
    margin-top: 80px;
    background-image: url(cam.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-atachment 0.4s;
}


#about{
     background-color:#5CDB95;
}
#about header {
    width: 30%;
    height: 100px;
    background-color: #5CDB95;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding: 15px 25px;
    margin-top: 25px;
    box-sizing: border-box;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#about img {
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
   
}
.some-inf{
    padding: 15px;
    width: 85%;
    font-size: 22px;
    color:black;
    border-radius: 10px;

}
.front{
    padding: 15px;
    width: 85%;
    font-size: 22px;
    color:black;
    border-radius: 10px;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.information{
    display: flex;
    flex-direction: column;
}
.information>*{
    margin: 25px;
    box-sizing: border-box;
}
#services{
    padding-top: 50PX;
    width: 100%;
    background-color:#5CDB95;
    height: 100vh;
}
#services header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#5CDB95;
}


#services header div{
    margin-bottom: 55px;
     color: black;
    width: 30%;
      border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}
.text img {
    height: 80px;
    width: 80px;
}

.text{
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
}
.text>div {
    border-radius: 10px;
    width: 30%;
    margin: 15px;
    text-align: center;
    color: black;
    transition: 0.4s;
    box-sizing: border-box;
    font-size: 18px;
}
.text > div:hover{
    transform: translateY(-10px) ;
}
.text>h2{
    padding-bottom: 30px;
}
.text-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text-2  img {
    width: 80px;
    height: 80px;
}
.text-2 > div{
    width: 30%;
    margin: 15px;
    text-align: center;
    color:black;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.4s;
    font-size: 18px;
}
.text-2 > div:hover{
    transform: translateY(-10px) ;
}
#portfolio{
    background-image: url(mac.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
#contacts{
    background-color: #5CDB95;
    height: 80vh;
}
#contacts header{
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#contacts header h1{
    padding: 20px 40px;
    color: aqua;
    border-radius: 10px;
}
.inputs{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.inp-name{
    display: flex;
    flex-direction: column;
}
.inp-name > input{
    width: 500px;
    margin: 25px;
    padding: 10px 20px;
    font-size: 18px;
}
.message{
    width: 500px;
    padding-bottom: 200px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}
.but{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.but button{
    padding: 20px;
    background-color: blue;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-color: #05386B;
}
.logos{
    display: flex;
    font-size: 35px;
    flex-direction: column;
    justify-content: space-between;
}
.newsletter input {
  padding: 5px 10px;
  width: 250px;
  box-sizing: border-box;
}
.newsletter p {
    font-size: 20px;
}
.newsletter button{
    width: 150px;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 5px;
}
.adress p{
    font-size: 25px;
}

@media(max-width: 765px){
    .toggle{
        clear: both;
        display: block;
        font-size: 18px;
        line-height: 50px;
        width: 100%;
        color: black;
        transition: all .1s linear;
        padding-left: 20px;
        background-color:skyblue ;

    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all 0.7s ease-in-out;
    }
    #checkbox-menu:checked + label .touch {
        height: 320px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;

    }
     .menu li a {
         width: 95%;
         text-align: center;
         align-self: center;
         align-content: center;
     }
     menu li a.logo{
         font-size: 21px;
         margin-right: 0;
     }
    #home{
  height: 75vh;
    }
    .me{
        margin-top: 15px;
        width: 55%;
        font-weight: 300;
    }
    .big-block{
        width: 90%;
        font-size: 40px;
        padding: 20px;
        margin-top: 20px;
        font-weight: 700;
        box-sizing: border-box;
    }
    .inf{
        box-sizing: border-box;
        width: 85%;
        margin-top: 15px;
    }
    .inf p:first-child{
        font-size: 20px;
        font-weight: 600;
        padding: 15px 25px;
        box-sizing: border-box;
    }

    #about{
        height: 185vh;
    }
    #about header{
        width: 60%;
        font-size: 30px;
        margin: 25px;
    }
    .about-me{
        flex-wrap: wrap;
    }
    .front{
        font-size: 16px;
    }
    .some-inf{
        font-size: 16px;
    }
    #services{
        height: 200vh;
    }
    #services header div{
           width: 60%;
           font-size: 25px;
    }
    #portfolio{
        height: 30vh;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #contacts{
        height: 110vh;
    }
    .text{
        flex-wrap: wrap;
    }
    .text>div{
        padding: 10px;
        width: 90%;
        margin: 5px;
    }
    .text-2 > div {
        width: 90%;
        padding: 10px;
        margin: 5px;
    }
    .inputs{
        flex-wrap: wrap;
    }
    .inp-name > input {
        width: 300px;

    }
    .message{
        width: 300px;
        padding-bottom:150px ;
        margin-bottom: 15px;
    }
    .but button{
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
    }
    .adress p{
        font-size: 18px;
    }
    .newsletter p {
        font-size: 18px;
    }
    .logos{
        flex-direction: row;
        margin-bottom: 100px;
        }
        .logos>*{
            margin: 10px;
        }
    .newsletter h1{
      font-size: 20px;
    }
    footer{
        height: 45vh;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .adress h1{
       font-size: 20px;
    }
    footer > * {
        margin-left: 20px;
    }
}
