*{
    margin: 0;
    padding: 0;
}

#div-body{
  
    
    width: 1035px;

    height: 200px;
}
header{
     display: flex;
   width: 1035;
   background-color: black;
   height: 200px;
}

.name{
    width:200px ;
    color: white;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 45px;

}
.name p {
    font-size: 24px;
}

.lists{
   width:685px ;
   
}
.lists ul{
     display: flex;
     justify-content: flex-end;
}
.lists ul li {
   
   list-style: none;
}
.lists ul li a {
     color: white;
     text-decoration: none;
     width: 100px;
     display: block;
      text-align: center;
      margin-top: 67%;
      margin-right: 15px;
      font-size: 28px;
      
}