*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellow;
}
body>aside,main{
   max-width: 800px;
   width: 80%;
   display: flex;
   justify-content: center;  
}
#div-body{
    display: flex ;
    flex-grow: 1;
    flex-wrap: wrap;
flex-basis: 100%;
    margin:0 auto ;
    height: 200px;
}
header{
    display: flex;
    flex-basis: 100%;
   background-color: black;
   height: 200px;
   justify-content: space-between;
   
}

.name{
    width:200px ;
    color: white;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 45px;
}
.name p {
    font-size: 24px;
}

.lists{
   width:550px ;
   
}
.lists ul{
     display: flex;
     justify-content: flex-end;
}
.lists ul li {
   
   list-style: none;
}
.lists ul li a {
     color: white;
     text-decoration: none;
     width: 100px;
     display: block;
      text-align: center;
      margin-top: 67%;
      margin-right: 15px;
      font-size: 28px;
      
}
aside{
    display: flex;
    align-items: center;
    margin-bottom: -75px;
    margin-left: 150px;
}
.about{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-size: 28px;
}
aside blockquote{
    background-color:lightskyblue;
    padding: 10px;
    border-radius: 10px;
    transform: scale(0);
    transition: 0.5s;
    width: 500px;
    float:left;
    height: 90px;
    font-size: 20px;

}
aside .about:hover{
    border-radius: 50%;
    transition: ease-out 0.5s;
}
aside .about:hover+blockquote{
    transform: scale(1);
}
main{
    background-color: white;
    padding: 70px 20px 30px;
    border-radius: 20px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
}
main h3 {
    display: flex;
    justify-content: flex-start;
}
footer{

    height: 200px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 100%;

}